{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg'"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
 <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hey there! I'm Ilan, a 20-year-old software engineering student from Nicaragua. I'm currently in my third year at UCA, where I'm pursuing my passion for technology and programming. My primary focus is on front-end and back-end development, with Python being my language of choice.</p>
                        <p>Throughout my academic journey, I've gained a solid foundation in software engineering principles and practices. I enjoy the process of crafting intuitive user interfaces and implementing robust back-end functionality. Python has been instrumental in my development journey, and I'm adept at using frameworks like Django and Flask to create dynamic web applications.</p>
                        <p>When I'm not immersed in coding or studying, I make sure to stay updated on the latest advancements in the field. I actively seek out opportunities to apply my skills in real-world scenarios, whether through personal projects or collaborations with fellow students. I'm excited to connect with like-minded individuals and contribute to innovative projects that push the boundaries of technology.</p>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}
